<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./homepage.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="#" class="logo">THESIS.IO</a>
    <div class="navbuttons">
    <form action="/" method="get">
        <button class="btn", id="button1">Home</button>
    </form>
    <form action="/login" method="get" >
        <button class="btn", id="button2">Student Login</button>
    </form>
    <form action="/advlogin" method="get">
        <button  class="btn", id="button3">Advisor Login</button>
    </form>
 </div>
    
  </header>
  <div class="typing-text"><h1>Finally! A Website that Understands How Many Cups of Coffee a Thesis Requires.</h1><br>
    <p>Say goodbye to manual tracking and paperwork with our digital thesis management solution, and ace your timelines like a pro!</p>
  </div>
  <script src="./homepage.js"></script>
</body>
</html>